<ul class="menu bg-base-200 rounded-box w-56">
  <% @menu_hash.group_by { |mh| mh[:s_n] }.each do |s_n, mhs| %>
    <li <% if mhs.size < 1 %>class="menu-disabled"<% end %>>
      <details>
        <summary><%= s_n %></summary>
        <ul>
          <% mhs.group_by { |mh| mh[:k_g] }.each do |k_g, mhs| %>
          <li>
            <details>
              <summary><%= Klass::GENRE_MAP_REVERSE[k_g] %></summary>
              <ul>
                <% mhs.each do |mh| %>
                  <% mh[:teachers].each do |teacher| %>
                  <li><%= teacher[:name] %></li>
                  <% end %>
                <% end %>
              </ul>
            </details>
          </li>
          <% end %>
        </ul>
      </details>
    </li>
  <% end %>
</ul>