<div class="min-h-dvh px-4">
  <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <th></th>
          <th>名称</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        <% @schools.each.with_index(1) do |school, index| %>
          <tr>
            <td><%= index %></td>
            <td>
              <%= school.name %>
            </td>
            <td>
              <%= render "admin/shared/drawer", item: school, drawer_id: "drawer-school-#{school.id}", button_name: "操作", drawer_width: "190", drawer_content: "admin/schools/form" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>